@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Yanone+Kaffeesatz:wght@700&display=swap");

@function get($var-name) {
    @return var(--#{$var-name});
}

:root {
    --bg-color: #383634;
    --bg-keycap: #2c2c2a;
    --pri-yellow: #e9d97d;
    --pri-light: #dddfe0;
    --pri-dark: #171717;
    --pri-red: #bb405c;
    --pri-cyan: #5ed7d3;
    --h: 110px;
    --w: 110px;
    --d: 40px;
    --rotate-deg: 30deg;
    --margin-shape: -30px;
    --border-color: #2b2c2a;
}

body {
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: get(bg-color);
    color: get(pri-light);
}

body {
    overscroll-behavior: none;
    height: 100vh;
}

.trigger {
    width: 0;
    height: 18px;
    background: get(pri-light);
    position: absolute;
    top: 75%;
}

.trigger-2 {
    overflow: visible !important;
    position: absolute;
    left: 50%;
}

.theLine {
    stroke-dasharray: 0px, 999999px;
}

.container {
    overscroll-behavior: none;
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.sections {
    width: 100%;
}


h2 {
    font-family: "Caveat", cursive;
    color: get(pri-red);
    font-size: 4em;
    margin-bottom: -20px;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
}

.title-wrapper {
    text-align: center;
    margin-bottom: -110px;
}

#title,
#title2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    line-height: 0.8;
    margin: 0;
    font-size: 10em;
}

.sections-1 {
    perspective: 1000px;
    position: relative;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.star {
    position: absolute;
    opacity: 0;

    img {
        width: 35px;
        height: 35px;
    }

    &.left {
        left: 5%;
        animation-delay: 1s;
    }

    &.right {
        right: 5%;
        top: 25%;
    }

    &.top {
        top: 10%;
        left: 35%;
        animation-delay: 2s;
    }
}

.board {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;

    background-color: get(pri-light);
    position: relative;

    will-change: transform;
    transform: translate3d(0, 0, 0)scale3d(1, 1, 1)skew(0deg)rotateX(70deg)rotateY(0)rotateZ(320deg);
    transform-style: preserve-3d;
}

.keycap {
    cursor: pointer;
    transform: translateZ(get(d));
    position: relative;
    display: flex;

    will-change: transform;
    // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) skew(0deg, 0deg) rotateX(65deg) rotateY(0deg) rotateZ(313deg);
    transform-style: preserve-3d;

    transition: transform 300ms ease-out;

    &:hover {
        transform: translateZ(calc(var(--d) * 0.5));
    }
}

.wrapper {
    max-width: calc(var(--w) * 2 + 12px);
    will-change: transform;
    transform-style: preserve-3d;
    background: #2c2c2a;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    display: flex;
}

.trapezoid {
    border: 1px solid get(border-color);
    width: get(d);
    height: get(h);
    background: get(pri-yellow);

    &.full-height {
        height: 100%;
    }

    &.full-width {
        width: 100%;
        height: get(d);
    }

    &.light {
        background: get(pri-light);
    }

    &.mid {
        width: get(w) !important;
        height: get(h) !important;
        color: #2e3229;
        text-align: center;
        line-height: 1.05;
        font-size: 7em;
    }

    &.red {
        background: get(pri-red);
    }

    &.dark {
        background: get(pri-dark);
    }

    &.cyan {
        background: get(pri-cyan);
    }

    &.left {
        position: absolute;
        transform: rotateY(90deg);
        transform-origin: left;
        left: 0;
    }

    &.bottom {
        transform: rotateX(90deg);
        transform-origin: bottom;
        position: absolute;
        bottom: 0;
    }

    &.right {
        position: absolute;
        transform: rotateY(-90deg);
        transform-origin: right;
        right: 0;
    }

    &.top {
        position: absolute;
        transform: rotateX(-90deg);
        transform-origin: top;
    }

    &.cat {
        background-image: url(https://cdn-icons-png.flaticon.com/512/1581/1581594.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70% 70%;
    }

    &.inu {
        background-image: url(https://cdn-icons-png.flaticon.com/512/7016/7016538.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150% 150%;

    }
}

.center {
    position: relative;
    will-change: transform;
    transform-style: preserve-3d;

    .trapezoid {
        width: get(w);
        height: get(d);
    }
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.star {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}